

{% block content %}
  <h2 style="text-align: center; color: black; font-size: 2rem;">Deposit Funds</h2>



  <p>Wallet Address: </p>
<p>Currency: USD</p>


  <form method="post" style="width: 30rem; height: 10rem; margin: 0 auto; padding: 20px; border: 1px solid #ddd; border-radius: 10px; background-color: #f9f9f9;">
    {% csrf_token %}
    <div style="margin-bottom: 1.8rem;">
    {{ form.as_p }}
    </div>
    <button type="submit"
  style="width: 50%; padding: 10px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer; font-size: 16px;
         display: block; margin: 20px auto; transition: background-color 0.3s ease;">
  Deposit
</button>

  </form>
{% endblock %}
